
/* Navbar section styles starts here */

.red-dot {
    height: 20%;
    position: relative;
    top: 20px;
}

.hamburger {
    position: absolute;
    top: 25px;
    left:85vw ;
}

.visibility {
    display: none !important;
}

.nav-item:hover {
    border-bottom: 2px solid rgb(72, 72, 120);
    transition-delay: .2s;
}

@media (min-width:768px) {
    .visibility {
        display: block !important;
    }
}

/* Navbar section styles ends here */

/* Hero section styles starts here */

#hero-section {
    background-image: url('../img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
  

}
 
#about-button:hover {
     color: black;
}

.hero-form {
    background-color: #ffffff;
}

.input-tag {

    background-color: #ffffff;
}

.input-tag:focus {
   outline: none;
}

/*Welcome section starts here*/

@media (min-width:300px){

    .welcome-image1 {
        height:60vh !important;
        width: 45vw !important;
       
    }
    
    .welcome-image2 {
        position: absolute;
        left: 30%;
        top: 16%;
        height:46vh !important;
        width: 60vw !important;
       
    }
    
    .welcome-image3 {
        position: absolute;
        left: 20%;
        top: 65%;
        height:30vh !important;
        width: 55vw !important;

    }
}


@media (min-width:768px) {

    .welcome-image1 {
        height:55vh !important;
        width: 23vw !important;
    
    }

    .welcome-image2 {
        position: absolute;
        left: 30%;
        top: 10vh;
        height:40vh !important;
        width: 35vw !important;
    
    }

    .welcome-image3 {
        position: absolute;
        left: 20%;
        top: 32vh;
        height:30vh !important;
        width: 35vw !important;
    
    }

}

/* Standard section starts here */

.standard-room {
    background-color: #0a205c;
}

.hide {
    display: none;
}

#previous {
    position: absolute;
    top: 45%;
    left: 5%;
    border-radius: 50%;
   
}

#next {
    position: absolute;
    top: 45%;
    left: 90%;
    border-radius: 50%;
}
@media (min-width:300px) {
    .sliders {
        height: 350px !important;
        width: 100% !important;
    }
}

@media (min-width:768px) {
    .sliders {
        height: 500px !important;
        width: 100% !important;
    }
}

/* Why choose section starts here */

.why-choose-img {
    width: 80px !important;
    height: 60px !important;
}

/* Explore  and booking section starts here */

.explore-booking {
    background-color: #0a205c;
}

.explore-book-img {
    height: 470px !important;
    width: 100% !important;
}

/* Experience section starts here */

.experience-image {
    height: 350px !important;
}

/* Say hello section starts gere */


.say-hello {
    background-image: url('../img/sayHello/swimming.jpeg');
    background-size: cover;
   
}

/* Review section starts here */

.review {
    background-color:#fffaf6;
}

.client-image {
    width: 60px !important;
    height: 60px !important;

}

/* How to get  there section starts here */

.vehicle-image {
    width: 50px !important;
    height: 50px !important;

}

/* Join us section starts here */

.join-us {
    background-color:#fffaf6;

}

.join-img {
    position: relative;
    top: -90px;

}

/*Subscribe section starts here */
@media (min-width:768px) {
.email-subscribe {
  width: 50vw;
}

.email-input:focus {
    outline: none !important;
    box-shadow: none;
}
}
/* Footer section starts here */

.footer {
    background-color: #0a205c;
    color: #fffaf6;
}

.footer-links {
color: #c4c2bf;

}

.footer-links:hover {
    color:#ffffff;
   border-bottom: 2px solid white;

}

.footer-contact-text {
    color: #c4c2bf;

}


